@page "/"
@rendermode InteractiveServer

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using System.Collections.ObjectModel
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Spinner
@using System.Net.Http.Json
@using System.Globalization
@inject HttpClient Http
@using Newtonsoft.Json
@using System.IO
@inject AIAirQualityService AIService

<style>
    .title {
    font-size: 16px;
    }

    #header-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
    min-height: 70px;
    height: 70px;
    }


    .header-group {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    min-height: 70px;
    height: 70px;
    }

    #input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    }

    @@media (max-width: 300px) {
    #header-panel {
    flex-wrap: wrap;
    min-height: 70px;
    height: 70px;
    }

    .header-group {
    justify-content: center;
    width: 100%;
    }

    #input-container {
    justify-content: center;
    width: 100%;
    }

    .header-text {
    text-align: center;
    }
    }

    #maps-panel {
    background: #91B9FB;
    }

    .e-card {
    height: 100%;
    }

    #chart-panel {
    border-width: 2px;
    }

    #FirstCard, #first-card-panel {
    background: #FF83B2;
    }

    #SecondCard, #second-card-panel {
    background: #91B9FB;
    }

    #ThirdCard, #third-card-panel {
    background: #A1FA4F;
    }

    #FourthCard, #fourth-card-panel {
    background: #FFBF73;
    }

    .e-card .e-card-header .e-card-header-image {
    height: 40px;
    width: 40px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
    font-size: 17px;
    }

    .e-card .e-card-content {
    padding-left: 120px;
    font-weight: bold;
    font-size: 19px;
    }

    .e-control.e-lib.e-dashboardlayout.e-responsive {
    z-index: 0;
    }

    .e-dashboardlayout.e-control .e-panel .e-panel-container .e-grid.sf-grid .e-gridcontent .e-content.e-yscroll {
    overflow: auto;
    }

    .e-gridheader {
    padding-right: 0px !important;
    }

    #main-card {
    padding-top: 5px;
    border: 2px solid #C0C0C0;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #F0F5FF;
    }


    .input-wrapper {
    position: relative;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    }

    .location-input {
    padding: 12px 40px 12px 12px;
    border: none;
    outline: none;
    width: 250px;
    font-size: 16px;
    }

    .input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    }

    .feature-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 55px;
    width: 48px;
    }

    .feature-button:hover {
    background-color: #b3e0ff !important;
    }

    .feature-button:active {
    background-color: #99d6ff !important;
    }

    .button-icon {
    height: 28px;
    width: 28px;
    }

    .e-dashboardlayout.e-control #chart-panel.e-panel {
    border: 1px solid #91B9FB !important;
    border-radius: 12px !important;
    }

    #MainSplineChart {
    border-radius: 12px !important;
    }

    #MapsOne_svg {
    border-radius: 12px !important;
    }
    .e-card{
    border-radius: 12px !important;
    }

    .e-dashboardlayout.e-control .e-panel {
    border-radius: 12px !important;
    }

    .e-dashboardlayout.e-control.e-responsive {
    width: 100% !important;
    overflow: hidden;
    }

    .dashboardParent {
    width: 100%;
    }

    .e-spinner-pane .e-spinner-inner .e-spin-bootstrap {
    fill: rgba(17,150, 205, 100%);
    stroke: rgba(17,150, 205, 100%);
    }
</style>

<div id="main-card">
    <div id="header-panel">
        <div class="header-group">
            <div class="header-img">
                <img src="./images/leaf.png" style="height:60px;width:60px;" />
            </div>
            <div class="header-text">
                <p style="font-size: 25px; margin-bottom: 5px;">AI-Powered Air Quality Command Center</p>
                <p style="font-size: 15px;">Real-Time Monitoring and Smart Forecasting for a Healthier Environment</p>
            </div>
        </div>

        <div id="input-container">
            <div class="input-wrapper">
                <SfTextBox @ref="countryTextBox" Placeholder="Location" CssClass="location-input" Width="200px" Value="@SearchCountry" @onchange="TextChanged" />
                <img src='./images/map.png' class='input-icon' />
            </div>
            <SfButton CssClass="feature-button" OnClick="ForecastButton_Click">
                <img src="./images/ai.png" class="button-icon" />
            </SfButton>
        </div>
    </div>
    <div class="dashboardParent" style="margin-top: 10px;">
        <SfDashboardLayout @ref="sfDashboardLayout" Columns="9" CellSpacing="new double[] {20, 20}" CellAspectRatio="1.3" AllowDragging="false">
            <DashboardLayoutEvents Created="Created" OnWindowResize="@ResizingWindow" Resizing="@ResizingWindow"></DashboardLayoutEvents>
            <DashboardLayoutPanels>
                <DashboardLayoutPanel SizeX="5" SizeY="5" Row="1" Column="0" Id="chart-panel" CssClass="chart-panel">
                    <ContentTemplate>
                        @if (isLayoutRender)
                        {
                            <SfChart ID="MainSplineChart" @ref="chart1" Theme="Theme.Bootstrap5">
                                <SfSpinner @bind-Visible="@SpinnerVisibility" Size="50"></SfSpinner>
                                <ChartArea>
                                    <ChartAreaBorder Width="0"></ChartAreaBorder>
                                </ChartArea>
                                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" IntervalType="IntervalType.Days" LabelFormat="dd MMM" EdgeLabelPlacement="EdgeLabelPlacement.Shift" PlotOffset="5">
                                    <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                    <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                </ChartPrimaryXAxis>

                                <ChartPrimaryYAxis Title="AQI Value" PlotOffset="20">
                                    <ChartAxisMajorGridLines Width="2" DashArray="2,2" />
                                    <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                    <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                </ChartPrimaryYAxis>

                                <ChartTooltipSettings Enable="true" Fill="black" Format="<b>${point.y}</b>" EnableMarker="false"></ChartTooltipSettings>
                                <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnablePan="true"></ChartZoomSettings>

                                <ChartSeriesCollection>
                                    @if (Data != null)
                                    {
                                        <ChartSeries DataSource="@Data" XName="Date" YName="PollutionIndex" Type="ChartSeriesType.Spline" Width="2" Fill="#008FFB">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="true" Position="Syncfusion.Blazor.Charts.LabelPosition.Middle">
                                                    <Template>
                                                        @{
                                                            var data = context as ChartDataPointInfo;
                                                            @if (Convert.ToDouble(data.Y, CultureInfo.InvariantCulture) < 50)
                                                            {
                                                                <svg width="15" height="15" viewBox="0 0 15 15">
                                                                    <path d="M 6.5,0 L 13,13 L 0,13 Z" fill="#196237" />
                                                                </svg>
                                                            }
                                                        }
                                                    </Template>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                        </ChartSeries>
                                    }

                                    @if (ForeCastData != null)
                                    {
                                        <ChartSeries DataSource="@ForeCastData" XName="Date" YName="PollutionIndex" Type="ChartSeriesType.Spline" Width="2.5" Fill="#2BD26E" DashArray="2,2,6,2,2,6">
                                            <ChartSeriesAnimation Enable="true"></ChartSeriesAnimation>
                                        </ChartSeries>
                                    }
                                </ChartSeriesCollection>
                            </SfChart>
                        }
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel SizeX="4" SizeY="3" Row="3" Column="5" Id="maps-panel">
                    <ContentTemplate>
                        @if (IsInitialRender)
                        {
                            <SfMaps ID="MapsOne" @ref="MapsLayout" Height="100%" Background="#91B9FB" Theme="Theme.Bootstrap5">
                                <SfSpinner @bind-Visible="@MapSpinnerVisibility" Size="50"></SfSpinner>
                                <MapsAreaSettings Background="#91B9FB"/>
                                <MapsLayers>
                                    <MapsLayer ShapeData='new {dataOptions ="https://cdn.syncfusion.com/maps/map-data/world-map.json"}' ShapePropertyPath='new string[] {"name"}' TValue="string">
                                        <MapsShapeSettings Fill="#E5E5E5">
                                            <MapsShapeBorder Color="#d6dbdf"></MapsShapeBorder>
                                        </MapsShapeSettings>
                                        <MapsMarkerSettings>
                                            <MapsMarker Visible="true" DataSource="@MapMarkers" TValue="AirQualityInfo" AnimationDuration="0" Width="30" Height="30">
                                                <MarkerTemplate>
                                                    @if (ShowMarker) {
                                                        <div style="text-align: center;">
                                                            <img src="./images/map_pin.png" style="height: 30px; width: 30px;" alt="Marker Image" />
                                                            <div class="text" style="margin-top: 5px; font-size: 13px;">
                                                                @CountryName
                                                            </div>
                                                        </div>
                                                    }
                                                </MarkerTemplate>
                                            </MapsMarker>
                                        </MapsMarkerSettings>
                                    </MapsLayer>
                                </MapsLayers>
                            </SfMaps>
                        }
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel SizeX="2" SizeY="1" Row="1" Column="6" Id="first-card-panel">
                    <ContentTemplate>
                        <SfCard ID="FirstCard">
                            <CardHeader Title="Current Pollution Index" ImageUrl="@("./images/pollution.png")" />
                            <CardContent Content="@CurrentPollutionIndex" />
                        </SfCard>
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel SizeX="2" SizeY="1" Row="1" Column="7" Id="second-card-panel">
                    <ContentTemplate>
                        <SfCard ID="SecondCard">
                            <CardHeader Title="Avg. Pollution (7 Days)" ImageUrl="@("./images/average.png")" />
                            <CardContent Content="@AvgPollution7Days" />
                        </SfCard>
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel SizeX="2" SizeY="1" Row="2" Column="6" Id="third-card-panel">
                    <ContentTemplate>
                        <SfCard ID="ThirdCard">
                            <CardHeader Title="Air Quality Status (7 Days)" ImageUrl="@("./images/air_quality.png")" />
                            <CardContent Content="@LatestAirQualityStatus" />
                        </SfCard>
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel SizeX="2" SizeY="1" Row="2" Column="7" Id="fourth-card-panel">
                    <ContentTemplate>
                        <SfCard ID="FourthCard">
                            <CardHeader Title="Prediction Accuracy" ImageUrl="@("./images/forecast.png")" />
                            <CardContent Content="@AIPredictionAccuracy" />
                        </SfCard>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </div>
</div>
